body {
    background-color: rgb(255, 209, 217);
}
h1 {
    align-self: center;
    color: rgb(238, 176, 253);
    -webkit-text-stroke: 1px rgb(112, 112, 112);
}
.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
div>div>input {
    border-radius: 15px;
    border-color: white;
    padding: 13px;
    margin-bottom: 15px;
    color: rgb(150, 52, 177);
    font-weight: bolder;
    background-color: rgb(238, 176, 253);
}
div>div>input:hover {
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
    padding: 13px;
    margin-bottom: 15px;
    background-color: rgb(236, 160, 255);
    translate: 1px -1px;
    box-shadow: 2px 2px 2px rgb(148, 148, 148);
}
.row {
    display: flex;
    justify-content: center;
}

.operador {
    background-color: rgb(231, 135, 255);
}

.operador:hover {
    background-color: rgb(219, 77, 255);
}

form {
    text-align: center;
    width: 220px;
}

#mostrador1 {
    background-color: rgb(238, 176, 253);
    border-color: white;
    border-radius: 15px;
    width: 220px;
    padding: 5px;
    font-weight: bolder;
    color: rgb(150, 52, 177);
}